Repository web-infra-dev/rspack, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jerrykingxyz, @JSerFeng, @LingyuCoder, @ahabhgk, @h-a-n-a, @chenjiahan

.github/CODEOWNERS:

# About code owners

# https://help.github.com/en/articles/about-code-owners

# Rspack Project Owner is @hardfist

# Default to no one

# *

# Ignore lock files

Cargo.lock
pnpm-lock.yaml

# Infra

/.github/workflows @jerrykingxyz
/scripts @jerrykingxyz

# Crates in alphabetical order

/crates/rspack
/crates/node_binding
/crates/rspack_base64
/crates/rspack_core
/crates/rspack_core/src/compiler/make @jerrykingxyz
/crates/rspack_error
/crates/rspack_fs
/crates/rspack_fs_node
/crates/rspack_futures
/crates/rspack_collections
/crates/rspack_ids

# Loaders

/crates/rspack_loader_lightningcss @JSerFeng
/crates/rspack_loader_swc
/crates/rspack_loader_preact_refresh @LingyuCoder
/crates/rspack_loader_react_refresh @ahabhgk

# Plugins

/crates/rspack_plugin_asset
/crates/rspack_plugin_banner
/crates/rspack_plugin_copy
/crates/rspack_plugin_css
/crates/rspack_plugin_devtool
/crates/rspack_plugin_entry
/crates/rspack_plugin_externals
/crates/rspack_plugin_html @LingyuCoder
/crates/rspack_plugin_javascript
/crates/rspack_plugin_json
/crates/rspack_plugin_library
/crates/rspack_plugin_progress
/crates/rspack_plugin_real_content_hash
/crates/rspack_plugin_remove_empty_chunks
/crates/rspack_plugin_runtime
/crates/rspack_plugin_schemes
/crates/rspack_plugin_split_chunks @JSerFeng
/crates/rspack_plugin_wasm
/crates/rspack_tracing @h-a-n-a
/crates/rspack_util

# Packages in alphabetical order

/packages/create-rspack @chenjiahan
/packages/rspack
/packages/rspack-cli
/packages/rspack-test-tools
/packages/rspack-tracing @h-a-n-a

# Tests

/tests/bench
/tests/e2e
/tests/webpack-cli-test
/tests/webpack-examples
/tests/webpack-test

docs: fix the reference to process asset stages in examples (#9485)
  website/docs/en/api/plugin-api/compilation-hooks.mdx
  website/docs/zh/api/plugin-api/compilation-hooks.mdx
Owners: none

fix: rebuild ignore modules contain built-in loader errors (#9482)
  crates/rspack_core/src/normal_module.rs
  tests/e2e/cases/make/failed_module_by_builtin_loader/index.test.ts
  tests/e2e/cases/make/failed_module_by_builtin_loader/rspack.config.js
  tests/e2e/cases/make/failed_module_by_builtin_loader/src/index.js
  tests/e2e/cases/make/failed_module_by_js_loader/index.test.ts
  tests/e2e/cases/make/failed_module_by_js_loader/loader.js
  tests/e2e/cases/make/failed_module_by_js_loader/rspack.config.js
  tests/e2e/cases/make/failed_module_by_js_loader/src/index.js
Owners: none

feat: render require_chunk_loading template with dojang (#9452)
  crates/rspack_plugin_runtime/src/runtime_module/require_js_chunk_loading.rs
  crates/rspack_plugin_runtime/src/runtime_module/runtime/require_chunk_loading.ejs
  crates/rspack_plugin_runtime/src/runtime_module/runtime/require_chunk_loading_with_external_install_chunk.ejs
  crates/rspack_plugin_runtime/src/runtime_module/runtime/require_chunk_loading_with_external_install_chunk.js
  crates/rspack_plugin_runtime/src/runtime_module/runtime/require_chunk_loading_with_hmr.ejs
  crates/rspack_plugin_runtime/src/runtime_module/runtime/require_chunk_loading_with_hmr_manifest.ejs
  crates/rspack_plugin_runtime/src/runtime_module/runtime/require_chunk_loading_with_hmr_manifest.js
  crates/rspack_plugin_runtime/src/runtime_module/runtime/require_chunk_loading_with_loading.ejs
  crates/rspack_plugin_runtime/src/runtime_module/runtime/require_chunk_loading_with_loading.js
  crates/rspack_plugin_runtime/src/runtime_module/runtime/require_chunk_loading_with_loading_matcher.ejs
  crates/rspack_plugin_runtime/src/runtime_module/runtime/require_chunk_loading_with_on_chunk_load.ejs
  crates/rspack_plugin_runtime/src/runtime_module/runtime/require_chunk_loading_with_on_chunk_load.js
Owners: none

feat: render readfile_chunk_loading template with dojang
  crates/rspack_plugin_runtime/src/runtime_module/readfile_chunk_loading.rs
  crates/rspack_plugin_runtime/src/runtime_module/runtime/readfile_chunk_loading.ejs
  crates/rspack_plugin_runtime/src/runtime_module/runtime/readfile_chunk_loading_with_external_install_chunk.ejs
  crates/rspack_plugin_runtime/src/runtime_module/runtime/readfile_chunk_loading_with_external_install_chunk.js
  crates/rspack_plugin_runtime/src/runtime_module/runtime/readfile_chunk_loading_with_hmr.ejs
  crates/rspack_plugin_runtime/src/runtime_module/runtime/readfile_chunk_loading_with_hmr_manifest.ejs
  crates/rspack_plugin_runtime/src/runtime_module/runtime/readfile_chunk_loading_with_hmr_manifest.js
  crates/rspack_plugin_runtime/src/runtime_module/runtime/readfile_chunk_loading_with_loading.ejs
  crates/rspack_plugin_runtime/src/runtime_module/runtime/readfile_chunk_loading_with_on_chunk_load.ejs
  crates/rspack_plugin_runtime/src/runtime_module/runtime/readfile_chunk_loading_with_on_chunk_load.js
  crates/rspack_plugin_runtime/src/runtime_module/runtime/require_chunk_loading.js
  packages/rspack-test-tools/tests/configCases/rsdoctor/assets/rspack.config.js
Owners: none

test: improve webpack test performance
  tests/webpack-test/ConfigTestCases.template.js
  tests/webpack-test/TestCases.template.js
  tests/webpack-test/WatchTestCases.template.js
Owners: none

test: update snapshot
  packages/rspack-test-tools/tests/runtimeDiffCases/runtime-module/auto-public-path/__snapshot__/bundle.json
  packages/rspack-test-tools/tests/runtimeDiffCases/runtime-module/global/__snapshot__/bundle.json
  packages/rspack-test-tools/tests/runtimeDiffCases/runtime-module/public-path/__snapshot__/bundle.json
  packages/rspack-test-tools/tests/statsAPICases/build-time-executed.js
Owners: none

perf: try reducec jmalloc arena number to 1
  .cargo/config.toml
Owners: none

test: improve webpack test performance (#9489)
  tests/webpack-test/ConfigTestCases.template.js
  tests/webpack-test/TestCases.template.js
  tests/webpack-test/WatchTestCases.template.js
Owners: none

feat: amd context require
  crates/rspack_plugin_javascript/src/dependency/context/amd_require_context_dependency.rs
  crates/rspack_plugin_javascript/src/dependency/context/import_context_dependency.rs
  crates/rspack_plugin_javascript/src/dependency/context/mod.rs
  crates/rspack_plugin_javascript/src/parser_plugin/amd/amd_define_dependency_parser_plugin.rs
  crates/rspack_plugin_javascript/src/parser_plugin/amd/amd_require_dependencies_block_parser_plugin.rs
  crates/rspack_plugin_javascript/src/parser_plugin/common_js_imports_parse_plugin.rs
  crates/rspack_plugin_javascript/src/parser_plugin/import_parser_plugin.rs
  crates/rspack_plugin_javascript/src/plugin/impl_plugin_for_js_plugin.rs
  crates/rspack_plugin_javascript/src/utils/eval/eval_binary_expr.rs
  crates/rspack_plugin_javascript/src/visitors/dependency/context_dependency_helper.rs
  packages/rspack-test-tools/tests/configCases/amd/define-require-context/circular.js
  packages/rspack-test-tools/tests/configCases/amd/define-require-context/index.js
  packages/rspack-test-tools/tests/configCases/amd/define-require-context/rspack.config.js
  packages/rspack-test-tools/tests/configCases/amd/define-require-context/templates/a.js
  tests/webpack-test/cases/parsing/complex-require/test.filter.js
  tests/webpack-test/cases/parsing/extract-amd.nominimize/test.filter.js
  tests/webpack-test/cases/parsing/extract-amd.nominimize/warnings.js
  tests/webpack-test/cases/parsing/extract-amd/test.filter.js
  tests/webpack-test/cases/parsing/extract-amd/warnings.js
  tests/webpack-test/cases/parsing/issue-2641/test.filter.js
  tests/webpack-test/cases/parsing/issue-345/test.filter.js
Owners: none

feat(ci): enable cfa (#9470)
  .github/workflows/release-otp.yml
  package.json
  packages/rspack-test-tools/tests/runtimeDiffCases/runtime-module/auto-public-path/__snapshot__/bundle.json
  packages/rspack-test-tools/tests/runtimeDiffCases/runtime-module/global/__snapshot__/bundle.json
  packages/rspack-test-tools/tests/runtimeDiffCases/runtime-module/public-path/__snapshot__/bundle.json
  packages/rspack-test-tools/tests/statsAPICases/build-time-executed.js
  pnpm-lock.yaml
  scripts/release/publish.mjs
  x.mjs
Owners: @jerrykingxyz

chore: release v1.2.7-alpha.0
  crates/node_binding/package.json
  npm/darwin-arm64/package.json
  npm/darwin-x64/package.json
  npm/linux-x64-gnu/package.json
  npm/win32-x64-msvc/package.json
  package.json
  packages/create-rspack/package.json
  packages/rspack-cli/package.json
  packages/rspack-test-tools/package.json
  packages/rspack-tracing/package.json
  packages/rspack/package.json
Owners: @chenjiahan, @h-a-n-a

test: improve cli test performance
  packages/rspack-cli/tests/api/type/js-api-cjs.test.ts
  packages/rspack-cli/tests/api/type/js-api-esm.test.mts
  packages/rspack-cli/tests/build/basic/basic.test.ts
  packages/rspack-cli/tests/build/config/config.test.ts
  packages/rspack-cli/tests/build/issue-4467/index.test.ts
  packages/rspack-cli/tests/build/issue-6214/index.test.ts
  packages/rspack-cli/tests/build/issue-6359/index.test.ts
  packages/rspack-cli/tests/build/json/json.test.ts
  packages/rspack-cli/tests/build/plugin-apply-error/plugin-apply-error.test.ts
  packages/rspack-cli/tests/preview/basic/index.test.ts
  packages/rspack-cli/tests/preview/ts-config-file/index.test.ts
  packages/rspack-cli/tests/serve/basic/serve-basic.test.ts
  packages/rspack-cli/tests/serve/flags/serve-flags.test.ts
  packages/rspack-cli/tests/serve/plugin-apply-error/serve-plugin-apply-error.test.ts
Owners: none

feat: render jsonp_chunk_loading template with dojang
  crates/rspack_plugin_runtime/src/runtime_module/jsonp_chunk_loading.rs
  crates/rspack_plugin_runtime/src/runtime_module/runtime/jsonp_chunk_loading.ejs
  crates/rspack_plugin_runtime/src/runtime_module/runtime/jsonp_chunk_loading_with_callback.ejs
  crates/rspack_plugin_runtime/src/runtime_module/runtime/jsonp_chunk_loading_with_callback.js
  crates/rspack_plugin_runtime/src/runtime_module/runtime/jsonp_chunk_loading_with_hmr.ejs
  crates/rspack_plugin_runtime/src/runtime_module/runtime/jsonp_chunk_loading_with_hmr_manifest.ejs
  crates/rspack_plugin_runtime/src/runtime_module/runtime/jsonp_chunk_loading_with_on_chunk_load.ejs
  crates/rspack_plugin_runtime/src/runtime_module/runtime/jsonp_chunk_loading_with_on_chunk_load.js
  crates/rspack_plugin_runtime/src/runtime_module/runtime/jsonp_chunk_loading_with_prefetch.ejs
  crates/rspack_plugin_runtime/src/runtime_module/runtime/jsonp_chunk_loading_with_prefetch.js
  crates/rspack_plugin_runtime/src/runtime_module/runtime/jsonp_chunk_loading_with_preload.ejs
  crates/rspack_plugin_runtime/src/runtime_module/runtime/jsonp_chunk_loading_with_preload.js
  packages/rspack-test-tools/tests/builtinCases/plugin-html/variant/__snapshots__/output.snap.txt
  packages/rspack-test-tools/tests/hotCases/disposing/remove-chunk-with-shared-in-other-runtime/__snapshots__/web/1.snap.txt
  tests/webpack-test/__snapshots__/StatsTestCases.basictest.js.snap
Owners: none

test: remove modules injected by css-loader
  packages/rspack-test-tools/src/compare/compare.ts
  packages/rspack-test-tools/tests/runtimeDiffCases/runtime-module/auto-public-path/__snapshot__/bundle.json
  packages/rspack-test-tools/tests/runtimeDiffCases/runtime-module/global/__snapshot__/bundle.json
  packages/rspack-test-tools/tests/runtimeDiffCases/runtime-module/public-path/__snapshot__/bundle.json
Owners: none

feat: compiler.run add options to set modifiedFiles and removedFiles
  packages/rspack-test-tools/tests/errorCases/error-test-push.js
  packages/rspack-test-tools/tests/errorCases/error-test-set.js
  packages/rspack-test-tools/tests/errorCases/error-test-shift.js
  packages/rspack-test-tools/tests/errorCases/error-test-splice-1.js
  packages/rspack-test-tools/tests/errorCases/error-test-splice-2.js
  packages/rspack-test-tools/tests/errorCases/warning-test-push.js
  packages/rspack-test-tools/tests/errorCases/warning-test-set.js
  packages/rspack-test-tools/tests/errorCases/warning-test-shift.js
  packages/rspack-test-tools/tests/errorCases/warning-test-splice-1.js
  packages/rspack-test-tools/tests/errorCases/warning-test-splice-2.js
  packages/rspack/etc/core.api.md
  packages/rspack/src/Compiler.ts
  packages/rspack/src/MultiCompiler.ts
  packages/rspack/src/Watching.ts
Owners: none

chore: cleanup for avoiding conflicts with more-js-api-v2
  .github/workflows/ci.yml
  Cargo.lock
  crates/rspack_loader_runner/src/loader.rs
  crates/rspack_plugin_copy/Cargo.toml
  crates/rspack_plugin_copy/src/lib.rs
Owners: @jerrykingxyz

feat: get_outgoing_connections_in_order
  crates/node_binding/src/module_graph.rs
  crates/rspack_core/src/build_chunk_graph/code_splitter.rs
  crates/rspack_core/src/chunk_graph/chunk_graph_module.rs
  crates/rspack_core/src/module_graph/mod.rs
  crates/rspack_core/src/old_cache/local/code_splitting_cache.rs
Owners: none

chore: release v1.2.7-alpha.0 (#9493)
  crates/node_binding/package.json
  npm/darwin-arm64/package.json
  npm/darwin-x64/package.json
  npm/linux-x64-gnu/package.json
  npm/win32-x64-msvc/package.json
  package.json
  packages/create-rspack/package.json
  packages/rspack-cli/package.json
  packages/rspack-test-tools/package.json
  packages/rspack-tracing/package.json
  packages/rspack/package.json
Owners: @chenjiahan, @h-a-n-a

test(diff): remove modules injected by css-loader (#9497)
  packages/rspack-test-tools/src/compare/compare.ts
  packages/rspack-test-tools/tests/runtimeDiffCases/runtime-module/auto-public-path/__snapshot__/bundle.json
  packages/rspack-test-tools/tests/runtimeDiffCases/runtime-module/global/__snapshot__/bundle.json
  packages/rspack-test-tools/tests/runtimeDiffCases/runtime-module/public-path/__snapshot__/bundle.json
Owners: none

chore: cleanup
  .github/workflows/release-canary.yml
  .typos.toml
  Cargo.lock
  Cargo.toml
  crates/next-custom-transforms/Cargo.toml
  crates/next-custom-transforms/src/transforms/page_static_info/collect_exports_visitor.rs
  crates/node_binding/package.json
  crates/node_binding/scripts/build.js
  crates/rspack_plugin_copy/Cargo.toml
  crates/rspack_plugin_copy/src/lib.rs
  examples/rspack.config.js
  examples/src/index.js
Owners: @jerrykingxyz

feat: getOutgoingConnectionsInOrder
  crates/node_binding/binding.d.ts
  packages/rspack-test-tools/tests/configCases/module-graph/get-outgoing-connections-in-order/a.js
  packages/rspack-test-tools/tests/configCases/module-graph/get-outgoing-connections-in-order/b.js
  packages/rspack-test-tools/tests/configCases/module-graph/get-outgoing-connections-in-order/c.js
  packages/rspack-test-tools/tests/configCases/module-graph/get-outgoing-connections-in-order/index.js
  packages/rspack-test-tools/tests/configCases/module-graph/get-outgoing-connections-in-order/rspack.config.js
  packages/rspack/etc/core.api.md
  packages/rspack/src/ModuleGraph.ts
Owners: none

test: improve cli test performance (#9494)
  packages/rspack-cli/tests/api/type/js-api-cjs.test.ts
  packages/rspack-cli/tests/api/type/js-api-esm.test.mts
  packages/rspack-cli/tests/build/basic/basic.test.ts
  packages/rspack-cli/tests/build/config/config.test.ts
  packages/rspack-cli/tests/build/issue-4467/index.test.ts
  packages/rspack-cli/tests/build/issue-6214/index.test.ts
  packages/rspack-cli/tests/build/issue-6359/index.test.ts
  packages/rspack-cli/tests/build/json/json.test.ts
  packages/rspack-cli/tests/build/plugin-apply-error/plugin-apply-error.test.ts
  packages/rspack-cli/tests/preview/basic/index.test.ts
  packages/rspack-cli/tests/preview/ts-config-file/index.test.ts
  packages/rspack-cli/tests/serve/basic/serve-basic.test.ts
  packages/rspack-cli/tests/serve/flags/serve-flags.test.ts
  packages/rspack-cli/tests/serve/plugin-apply-error/serve-plugin-apply-error.test.ts
Owners: none

feat: render readfile_chunk_loading template with dojang (#9491)
  crates/rspack_plugin_runtime/src/runtime_module/readfile_chunk_loading.rs
  crates/rspack_plugin_runtime/src/runtime_module/runtime/readfile_chunk_loading.ejs
  crates/rspack_plugin_runtime/src/runtime_module/runtime/readfile_chunk_loading_with_external_install_chunk.ejs
  crates/rspack_plugin_runtime/src/runtime_module/runtime/readfile_chunk_loading_with_external_install_chunk.js
  crates/rspack_plugin_runtime/src/runtime_module/runtime/readfile_chunk_loading_with_hmr.ejs
  crates/rspack_plugin_runtime/src/runtime_module/runtime/readfile_chunk_loading_with_hmr_manifest.ejs
  crates/rspack_plugin_runtime/src/runtime_module/runtime/readfile_chunk_loading_with_hmr_manifest.js
  crates/rspack_plugin_runtime/src/runtime_module/runtime/readfile_chunk_loading_with_loading.ejs
  crates/rspack_plugin_runtime/src/runtime_module/runtime/readfile_chunk_loading_with_on_chunk_load.ejs
  crates/rspack_plugin_runtime/src/runtime_module/runtime/readfile_chunk_loading_with_on_chunk_load.js
  crates/rspack_plugin_runtime/src/runtime_module/runtime/require_chunk_loading.js
  packages/rspack-test-tools/tests/configCases/rsdoctor/assets/rspack.config.js
Owners: none

feat: amd context require (#9495)
  crates/rspack_plugin_javascript/src/dependency/context/amd_require_context_dependency.rs
  crates/rspack_plugin_javascript/src/dependency/context/import_context_dependency.rs
  crates/rspack_plugin_javascript/src/dependency/context/mod.rs
  crates/rspack_plugin_javascript/src/parser_plugin/amd/amd_define_dependency_parser_plugin.rs
  crates/rspack_plugin_javascript/src/parser_plugin/amd/amd_require_dependencies_block_parser_plugin.rs
  crates/rspack_plugin_javascript/src/parser_plugin/common_js_imports_parse_plugin.rs
  crates/rspack_plugin_javascript/src/parser_plugin/import_parser_plugin.rs
  crates/rspack_plugin_javascript/src/plugin/impl_plugin_for_js_plugin.rs
  crates/rspack_plugin_javascript/src/utils/eval/eval_binary_expr.rs
  crates/rspack_plugin_javascript/src/visitors/dependency/context_dependency_helper.rs
  packages/rspack-test-tools/tests/configCases/amd/define-require-context/circular.js
  packages/rspack-test-tools/tests/configCases/amd/define-require-context/index.js
  packages/rspack-test-tools/tests/configCases/amd/define-require-context/rspack.config.js
  packages/rspack-test-tools/tests/configCases/amd/define-require-context/templates/a.js
  tests/webpack-test/cases/parsing/complex-require/test.filter.js
  tests/webpack-test/cases/parsing/extract-amd.nominimize/test.filter.js
  tests/webpack-test/cases/parsing/extract-amd.nominimize/warnings.js
  tests/webpack-test/cases/parsing/extract-amd/test.filter.js
  tests/webpack-test/cases/parsing/extract-amd/warnings.js
  tests/webpack-test/cases/parsing/issue-2641/test.filter.js
  tests/webpack-test/cases/parsing/issue-345/test.filter.js
Owners: none

chore: cleanup for avoiding conflicts with more-js-api-v2 (#9499)
  .github/workflows/ci.yml
  Cargo.lock
  crates/rspack_loader_runner/src/loader.rs
  crates/rspack_plugin_copy/Cargo.toml
  crates/rspack_plugin_copy/src/lib.rs
Owners: @jerrykingxyz

test: init
  .gitignore
  Cargo.lock
  lint-staged.config.mjs
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/bench/setup.mjs
  scripts/package.json
  tasks/benchmark/Cargo.toml
  tasks/benchmark/benches/benches.rs
  tasks/benchmark/benches/modules_10000.rs
Owners: @jerrykingxyz

chore: verbose
  .github/workflows/reusable-build.yml
Owners: @jerrykingxyz

feat: render module_chunk_loading template with dojang
  crates/rspack_plugin_runtime/src/runtime_module/module_chunk_loading.rs
  crates/rspack_plugin_runtime/src/runtime_module/runtime/module_chunk_loading.ejs
  crates/rspack_plugin_runtime/src/runtime_module/runtime/module_chunk_loading_with_loading.ejs
  packages/rspack-test-tools/tests/runtimeDiffCases/runtime-module/auto-public-path/__snapshot__/bundle.json
  packages/rspack-test-tools/tests/runtimeDiffCases/runtime-module/global/__snapshot__/bundle.json
  packages/rspack-test-tools/tests/runtimeDiffCases/runtime-module/public-path/__snapshot__/bundle.json
Owners: none

test: run cli test cases parallel
  package.json
  packages/rspack-cli/tests/build/basic/basic.test.ts
  packages/rspack-cli/tests/build/config/config.test.ts
Owners: none

fix: comment
  packages/rspack/src/Compiler.ts
  packages/rspack/src/MultiCompiler.ts
Owners: none

feat: render jsonp_chunk_loading template with dojang (#9496)
  crates/rspack_plugin_runtime/src/runtime_module/jsonp_chunk_loading.rs
  crates/rspack_plugin_runtime/src/runtime_module/runtime/jsonp_chunk_loading.ejs
  crates/rspack_plugin_runtime/src/runtime_module/runtime/jsonp_chunk_loading_with_callback.ejs
  crates/rspack_plugin_runtime/src/runtime_module/runtime/jsonp_chunk_loading_with_callback.js
  crates/rspack_plugin_runtime/src/runtime_module/runtime/jsonp_chunk_loading_with_hmr.ejs
  crates/rspack_plugin_runtime/src/runtime_module/runtime/jsonp_chunk_loading_with_hmr_manifest.ejs
  crates/rspack_plugin_runtime/src/runtime_module/runtime/jsonp_chunk_loading_with_on_chunk_load.ejs
  crates/rspack_plugin_runtime/src/runtime_module/runtime/jsonp_chunk_loading_with_on_chunk_load.js
  crates/rspack_plugin_runtime/src/runtime_module/runtime/jsonp_chunk_loading_with_prefetch.ejs
  crates/rspack_plugin_runtime/src/runtime_module/runtime/jsonp_chunk_loading_with_prefetch.js
  crates/rspack_plugin_runtime/src/runtime_module/runtime/jsonp_chunk_loading_with_preload.ejs
  crates/rspack_plugin_runtime/src/runtime_module/runtime/jsonp_chunk_loading_with_preload.js
  packages/rspack-test-tools/tests/builtinCases/plugin-html/variant/__snapshots__/output.snap.txt
  packages/rspack-test-tools/tests/hotCases/disposing/remove-chunk-with-shared-in-other-runtime/__snapshots__/web/1.snap.txt
  tests/webpack-test/__snapshots__/StatsTestCases.basictest.js.snap
Owners: none

feat: module constructorName support ExternalModule and more
  crates/node_binding/src/module.rs
  crates/rspack_core/src/concatenated_module.rs
  crates/rspack_core/src/module.rs
  packages/rspack/src/Module.ts
Owners: none

test: run cli test cases parallel
  package.json
Owners: none

docs: compiler.run add option param
  website/docs/en/api/javascript-api/compiler.mdx
  website/docs/zh/api/javascript-api/compiler.mdx
Owners: none

feat: compiler.run add options to set modifiedFiles and removedFiles (#9475)
  packages/rspack-test-tools/tests/errorCases/error-test-push.js
  packages/rspack-test-tools/tests/errorCases/error-test-set.js
  packages/rspack-test-tools/tests/errorCases/error-test-shift.js
  packages/rspack-test-tools/tests/errorCases/error-test-splice-1.js
  packages/rspack-test-tools/tests/errorCases/error-test-splice-2.js
  packages/rspack-test-tools/tests/errorCases/warning-test-push.js
  packages/rspack-test-tools/tests/errorCases/warning-test-set.js
  packages/rspack-test-tools/tests/errorCases/warning-test-shift.js
  packages/rspack-test-tools/tests/errorCases/warning-test-splice-1.js
  packages/rspack-test-tools/tests/errorCases/warning-test-splice-2.js
  packages/rspack/etc/core.api.md
  packages/rspack/src/Compiler.ts
  packages/rspack/src/MultiCompiler.ts
  packages/rspack/src/Watching.ts
Owners: none

fix: comment
  website/docs/en/api/javascript-api/compiler.mdx
  website/docs/zh/api/javascript-api/compiler.mdx
Owners: none

test: run cli test cases parallel (#9502)
  package.json
  packages/rspack-cli/tests/build/basic/basic.test.ts
  packages/rspack-cli/tests/build/config/config.test.ts
Owners: none

feat: add contextInfo.issuerLayer for nmf resolve hooks
  crates/node_binding/binding.d.ts
  crates/node_binding/src/normal_module_factory.rs
  crates/node_binding/src/plugins/interceptor.rs
  packages/rspack-test-tools/tests/configCases/plugins/normal-module-replacement-plugin-args/index.js
  packages/rspack-test-tools/tests/configCases/plugins/normal-module-replacement-plugin-args/request.v1.js
  packages/rspack-test-tools/tests/configCases/plugins/normal-module-replacement-plugin-args/request.v2.js
  packages/rspack-test-tools/tests/configCases/plugins/normal-module-replacement-plugin-args/rspack.config.js
  packages/rspack/etc/core.api.md
  packages/rspack/src/Module.ts
  packages/rspack/src/taps/normalModuleFactory.ts
Owners: none

feat: add contextInfo.issuerLayer for nmf resolve hooks
  crates/node_binding/binding.d.ts
  crates/node_binding/src/normal_module_factory.rs
  crates/node_binding/src/plugins/interceptor.rs
  packages/rspack-test-tools/tests/configCases/plugins/normal-module-replacement-plugin-args/index.js
  packages/rspack-test-tools/tests/configCases/plugins/normal-module-replacement-plugin-args/request.v1.js
  packages/rspack-test-tools/tests/configCases/plugins/normal-module-replacement-plugin-args/request.v2.js
  packages/rspack-test-tools/tests/configCases/plugins/normal-module-replacement-plugin-args/rspack.config.js
  packages/rspack/etc/core.api.md
  packages/rspack/src/Module.ts
  packages/rspack/src/taps/normalModuleFactory.ts
Owners: none

docs: compiler.run add option param (#9503)
  website/docs/en/api/javascript-api/compiler.mdx
  website/docs/zh/api/javascript-api/compiler.mdx
Owners: none
