Repository web-infra-dev/rspack, changes with the owners that .github/CODEOWNERS names for each.
All owners: @quininer, @stormslowly, @chenjiahan, @h-a-n-a, @hardfist, @jerrykingxyz, @JSerFeng, @LingyuCoder, @ahabhgk

.github/CODEOWNERS:

# About code owners

# https://help.github.com/en/articles/about-code-owners

# Rspack Project Owner is @hardfist

# Default to no one

# *

# Ignore lock files

Cargo.lock
pnpm-lock.yaml

# Infra

Cargo.toml @quininer
/.github/workflows @stormslowly
/.github/actions @stormslowly
/.github/ISSUE_TEMPLATE @chenjiahan
/scripts @stormslowly
/tasks @stormslowly

# Crates in alphabetical order

/crates/node_binding
/crates/rspack @h-a-n-a
/crates/rspack_base64
/crates/rspack_binding_api @h-a-n-a
/crates/rspack_binding_build @h-a-n-a
/crates/rspack_binding_builder @h-a-n-a
/crates/rspack_binding_builder_macros @h-a-n-a
/crates/rspack_binding_builder_testing @h-a-n-a
/crates/rspack_browserslist @hardfist
/crates/rspack_cacheable @jerrykingxyz
/crates/rspack_cacheable_test @jerrykingxyz
/crates/rspack_core
/crates/rspack_core/src/compiler/make @jerrykingxyz
/crates/rspack_error
/crates/rspack_fs
/crates/rspack_fs_node
/crates/rspack_futures
/crates/rspack_collections
/crates/rspack_ids

# Loaders

/crates/rspack_loader_lightningcss @JSerFeng
/crates/rspack_loader_swc
/crates/rspack_loader_preact_refresh @LingyuCoder
/crates/rspack_loader_react_refresh @ahabhgk
/crates/rspack_loader_runner @h-a-n-a

# Plugins

/crates/rspack_plugin_asset
/crates/rspack_plugin_banner
/crates/rspack_plugin_copy
/crates/rspack_plugin_css
/crates/rspack_plugin_devtool
/crates/rspack_plugin_entry
/crates/rspack_plugin_externals
/crates/rspack_plugin_html @LingyuCoder
/crates/rspack_plugin_javascript
/crates/rspack_plugin_json
/crates/rspack_plugin_library
/crates/rspack_plugin_mf @ahabhgk
/crates/rspack_plugin_progress
/crates/rspack_plugin_real_content_hash
/crates/rspack_plugin_remove_empty_chunks
/crates/rspack_plugin_rsdoctor @LingyuCoder
/crates/rspack_plugin_rslib @LingyuCoder
/crates/rspack_plugin_rstest @LingyuCoder
/crates/rspack_plugin_runtime
/crates/rspack_plugin_schemes
/crates/rspack_plugin_split_chunks @JSerFeng
/crates/rspack_plugin_wasm
/crates/rspack_tracing @hardfist
/crates/rspack_tracing_perfetto @hardfist
/crates/rspack_util
/crates/swc_plugin_ts_collector @ahabhgk

# npm packages in alphabetical order

/packages/create-rspack @chenjiahan
/packages/rspack @hardfist
/packages/rspack-cli @hardfist
/packages/rspack-test-tools @LingyuCoder

# Tests

/tests/bench
/tests/e2e
/tests/webpack-cli-test
/tests/webpack-examples
/tests/webpack-test

perf: prepare module outgoings for code splitting
  crates/rspack_core/src/build_chunk_graph/new_code_splitter.rs
Owners: none

fix: type error with the pre-bundled watchpack package (#10933)
  .prettierignore
  packages/rspack/prebundle.config.mjs
  packages/rspack/tsconfig.api.extractor.json
Owners: @hardfist

remove lock on outgoings module
  crates/rspack_core/src/build_chunk_graph/new_code_splitter.rs
  crates/rspack_core/src/old_cache/local/code_splitting_cache.rs
Owners: none

feat: add size threadhold
  .github/actions/binary-limit/action.yml
  .github/actions/binary-limit/binary-limit-script.js
  .github/workflows/size-limit.yml
Owners: @stormslowly

feat: add size-limit to required
  .github/workflows/ci.yml
Owners: @stormslowly

remove lock on outgoings module
  crates/rspack_core/src/build_chunk_graph/new_code_splitter.rs
Owners: none

fix: use pull request's head sha which is the real sha
  .github/actions/binary-limit/binary-limit-script.js
Owners: @stormslowly

fix: use actual shared keys instead of placeholder in CommonJS exports parser
  crates/rspack_plugin_javascript/src/dependency/commonjs/common_js_exports_dependency.rs
  crates/rspack_plugin_javascript/src/dependency/commonjs/consume_shared_exports_dependency.rs
  crates/rspack_plugin_javascript/src/dependency/esm/esm_export_expression_dependency.rs
  crates/rspack_plugin_javascript/src/parser_plugin/common_js_exports_parse_plugin.rs
  examples/basic/tests/unit/test-validate.test.js
  tree-shaking-macro-scenarios.md
Owners: none

fix: js api module readable identifier (#10929)
  crates/rspack_binding_api/src/module.rs
  packages/rspack-test-tools/tests/configCases/normal-module/readable-identifier/bar.js
  packages/rspack-test-tools/tests/configCases/normal-module/readable-identifier/index.js
  packages/rspack-test-tools/tests/configCases/normal-module/readable-identifier/node_modules/foo/index.js
  packages/rspack-test-tools/tests/configCases/normal-module/readable-identifier/node_modules/foo/package.json
  packages/rspack-test-tools/tests/configCases/normal-module/readable-identifier/rspack.config.js
Owners: @h-a-n-a, @LingyuCoder

remove lock on outgoings module
  crates/rspack_core/src/build_chunk_graph/code_splitter.rs
  crates/rspack_core/src/build_chunk_graph/new_code_splitter.rs
  crates/rspack_core/src/compiler/compilation.rs
Owners: none

fix: avoid full hash runtime in css extract plugin
  crates/rspack_plugin_extract_css/src/plugin.rs
  packages/rspack-test-tools/tests/configCases/css-extract/with-contenthash/index.css
  packages/rspack-test-tools/tests/configCases/css-extract/with-contenthash/index.js
  packages/rspack-test-tools/tests/configCases/css-extract/with-contenthash/rspack.config.js
Owners: @LingyuCoder

Fix
  crates/node_binding/rspack.wasi.cjs
Owners: none

Revert "Add test-wasm for test wasm locally"
  packages/rspack-test-tools/package.json
Owners: @LingyuCoder

chore(ci): add size threadhold (#10934)
  .github/actions/binary-limit/action.yml
  .github/actions/binary-limit/binary-limit-script.js
  .github/workflows/ci.yml
  .github/workflows/size-limit.yml
Owners: @stormslowly

feat: add tree-shaking macros to ConsumeShared fallback modules
  crates/rspack_plugin_mf/src/sharing/consume_shared_plugin.rs
  examples/basic/tests/snapshots/__snapshots__/test-snapshots.test.js.snap
Owners: @ahabhgk
